
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --main-color:#0A3871;
    --secondary-color:aliceblue;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.568), rgba(0, 0, 255, 0.616), rgba(0, 128, 0, 0.436), rgba(0, 0, 0, 0.556));
    background-size: 400% 400%;
    animation: colorin 5s alternate-reverse infinite;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
@keyframes colorin{
    0%{background-position: 0 50%;}
    100%{background-position: 100% 50%;}
    

}

body{
    margin: 1.8rem;
    font-family: 'Inter', sans-serif;

}

header{
    display: flex;
    align-self: baseline;
}

.orden-pc-screen{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.main{
    display: flex;
    flex-direction: column;
    
}

.main .caja-encriptar #texto-encriptar, .caja-desencriptar #texto-desencriptar{
    width: 70vw;
    min-height: 40vh;
    height: auto;
    border: none;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    resize:none;
    
    
}

.main .caja-encriptar #texto-encriptar::placeholder{
    color: #0a3871d6;
}
.main .comentario{
display: flex;
align-items: center;
gap: 0.3rem;

}
.main .comentario svg{
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgba(194, 185, 243, 0.544);
    border-radius: 50%;
    
}
.orden-pc-screen .main .comentario #comentario {
font-weight:normal;
font-size: 0.75rem;
margin: 1rem 0;

}
.visible{
    display: initial;
}
.hidden{
    display: none;
}

.buttons-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.buttons-box button{
    border: none;
    border-radius: 1.3rem;
    padding: 1.3rem;
    width: 20rem;
    font-weight: 400, regular;
    font-size: 1rem;
    line-height: 1.4rem;
}
.buttons-box #encriptar{
    background-color: var(--main-color);
    color:var(--secondary-color) ;
}
.buttons-box .desencriptar{
    background-color: #f3f5fc;
    color:var(--main-color) ;
    border: solid 1px var(--main-color);
}
.caja-desencriptar .style {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 85vw;
    
    text-align: center;
    gap: 1rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.195);
    border-radius: 32px;
    padding: 3rem 2.5rem 1.5rem 2.5rem;

}
.caja-desencriptar .buttons-box{
    display: flex;
    justify-content: center;
}
.orden-pc-screen .caja-desencriptar #vacio .muñe{
    display: none;
}

textarea.invalido{
    outline: solid 2px red;
    border-radius: 15px;
    color: red;
    
}

@media screen and (max-width:426px) {

 .main .caja-encriptar #texto-encriptar, .caja-desencriptar #texto-desencriptar{
     max-height: 50vh;
     
 }   

}
@media screen and (min-width:426px){
    .buttons-box{
        flex-direction: row;
    }
    header{
        width: 80vw;
    }
    
}
@media screen and (min-width:1024px) {
    
    header{
        width: 60vw;
        
        padding: 0.1rem;
    }
   
    .caja-desencriptar #vacio{
        width: 30vw;
        height: 90vh;
        margin-top: -4rem;
        justify-content: center;
    }
    .caja-desencriptar #vacio img{
        width: 25vw;
        min-height: 40vh;
    }
    .orden-pc-screen .caja-desencriptar #vacio .muñe{
        display: grid;
    }

    .orden-pc-screen{
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 3rem;
        height: 80vh;
       
    }
    .orden-pc-screen .main{
        width: 40vw;
        height:60vh;
        
    }
    .main .caja-encriptar #texto-encriptar{
        width: 50vw;
        
    } 
    .orden-pc-screen .caja-desencriptar{
     margin-left: -5rem;
     margin-top: -3rem;
    }
    .orden-pc-screen .caja-desencriptar #texto-desencriptar{
        width: 40vw;
        height: 66vh;
    }
}
@media screen and (min-width: 2000px) {
    header svg{
        width: 44px;
        height: 60px;
        
    }
 .orden-pc-screen{
     justify-content: space-around;
 }   
}